* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.vamosJogar {
  font-size: 4.1em;
}


/* define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.navegacao__itens {
  display: none;
}

.navegacao__menu-hamburguer img {
  border-radius: 2px;
}

/* --- BOTAO --- */

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.btn_roxo {
  color: white;
  background-color: #c083b9;
  display: block;
  max-width: 200px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
}

.btn_roxo:hover,
.btn_roxo:focus {
  transform: translateY(-06px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(192, 156, 188);
 
}

.btn_center {
  margin: 0 auto;
}

.btn-rodape{
  margin-left: 80px;
 
}

/*----- HEADER  ----- */

.header {
  min-height: 40px;
  height: 528px;
  background: linear-gradient(rgba(0, 195, 255, 0.2), rgba(255, 0, 255, 0.2)),
    url(../img/giphy-roboo.gif);

  background-repeat: no-repeat;
  display: flex;
  color: #52a7ff;
  font-weight: bold;
  font-size: larger;
}

.principal {
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-left: 150px;
}

/*-----------Botoes-------------*/
.second {
  border-radius: 3em;
  border-color: #1abc9c;
  color: red;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 133, 225, 0.6),
    rgba(26, 188, 156, 0.6) 5%,
    #1abc9c 5%,
    #1abc9c 10%,
    rgba(26, 188, 156, 0.6) 10%,
    rgba(26, 188, 156, 0.6) 15%,
    #1abc9c 15%,
    #1abc9c 20%,
    rgba(255, 133, 225, 0.6) 20%,
    rgba(26, 188, 156, 0.6) 25%,
    #1abc9c 25%,
    #1abc9c 30%,
    rgba(26, 188, 156, 0.6) 30%,
    rgba(26, 188, 156, 0.6) 35%,
    #1abc9c 35%,
    #1abc9c 40%,
    rgba(26, 188, 156, 0.6) 40%,
    rgba(26, 188, 156, 0.6) 45%,
    #1abc9c 45%,
    #1abc9c 50%,
    rgba(26, 188, 156, 0.6) 50%,
    rgba(26, 188, 156, 0.6) 55%,
    #1abc9c 55%,
    #1abc9c 60%,
    rgba(26, 188, 156, 0.6) 60%,
    rgba(26, 188, 156, 0.6) 65%,
    #1abc9c 65%,
    #1abc9c 70%,
    rgba(26, 188, 156, 0.6) 70%,
    rgba(26, 188, 156, 0.6) 75%,
    #1abc9c 75%,
    #1abc9c 80%,
    rgba(26, 188, 156, 0.6) 80%,
    rgba(26, 188, 156, 0.6) 85%,
    #1abc9c 85%,
    #1abc9c 90%,
    rgba(26, 188, 156, 0.6) 90%,
    rgba(26, 188, 156, 0.6) 95%,
    #1abc9c 95%,
    #1abc9c 100%
  );
  background-image: linear-gradient(
    to right,
    rgba(255, 133, 225, 0.6),
    rgba(26, 188, 156, 0.6) 5%,
    #1abc9c 5%,
    #1abc9c 10%,
    rgba(26, 188, 156, 0.6) 10%,
    rgba(26, 188, 156, 0.6) 15%,
    #1abc9c 15%,
    #1abc9c 20%,
    rgba(26, 188, 156, 0.6) 20%,
    rgba(255, 133, 225, 0.6) 25%,
    #1abc9c 25%,
    #1abc9c 30%,
    rgba(26, 188, 156, 0.6) 30%,
    rgba(26, 188, 156, 0.6) 35%,
    #1abc9c 35%,
    #1abc9c 40%,
    rgba(26, 188, 156, 0.6) 40%,
    rgba(26, 188, 156, 0.6) 45%,
    #1abc9c 45%,
    #1abc9c 50%,
    rgba(26, 188, 156, 0.6) 50%,
    rgba(26, 188, 156, 0.6) 55%,
    #1abc9c 55%,
    #1abc9c 60%,
    rgba(26, 188, 156, 0.6) 60%,
    rgba(26, 188, 156, 0.6) 65%,
    #1abc9c 65%,
    #1abc9c 70%,
    rgba(26, 188, 156, 0.6) 70%,
    rgba(26, 188, 156, 0.6) 75%,
    #1abc9c 75%,
    #1abc9c 80%,
    rgba(26, 188, 156, 0.6) 80%,
    rgba(26, 188, 156, 0.6) 85%,
    #1abc9c 85%,
    #1abc9c 90%,
    rgba(26, 188, 156, 0.6) 90%,
    rgba(26, 188, 156, 0.6) 95%,
    #1abc9c 95%,
    #1abc9c 100%
  );
  background-position: 0 0;
  background-size: 100%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.second:hover {
  background-position: 100px;
  color: red;
}

/* --- FOOTER --- */

.rodape {
  background-color: #323534;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape__principal {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.rodape__principal > * {
  margin: 16px 0;
}

.auxiliar{
  display: inline-flex;
  justify-content: space-around;
}